/* GLOBAL */
:root {
  --base-grid: 6px;
  --colour-white: #fff;
  --colour-black: #1a1a1a;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  letter-spacing: .05em;  
  box-sizing: border-box;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
body, html {
  height: 100%;
}
a {
  text-decoration: none!important;
  cursor: pointer!important;
}
button:focus 
{
  outline: 0;
  background: none!important;
  border: none!important;
}
button 
{
  outline: 0;
  background: none!important;
  border: none!important;
}


/* NAVBAR */
.nav-bg-fixed {
  border-bottom: 1px solid #dbdbdb;    
  background: #fff;
  position: fixed;
  top: 0;
  height: 59px;
  width: 100%;
  z-index: 5;
}
.navbar-make-fixed {
  height: 59px!important;
}
.navbar {
  position: absolute;
  top: 0;
  padding: 0;
  height: 90px;
  z-index: 5;
}
.navbar .navbar-all-links {
  height: 100%;
}
.nav-item {
  height: 100%;
}
.navbar .nav-item button {
  height: 100%;
}
.navbar .logo-icon {
  width: 75px;
}
.nav-link, .dropbtn {
  padding: 0 24px!important;
  color: #fff!important;
  font-size: 15px!important;
  font-weight: 700!important;
  line-height: 23px!important;
}
.nav-link-white {
  color: #000!important;
}
.dropbtn-white {
  color: #000!important;
}
.navbar .nav-link:hover, .dropbtn:hover {
  color: #38b5c8!important;
}
.navbar .go-right {
  margin-left: auto!important;
  height: 100%;
}
.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}
.dropdown-content {
  background-color: #fff;
  display: none;
  position: absolute;
  right: -43px;
  min-width: 235px;
  z-index: 5;
  padding: 20px 0;
  border: 1px #303030;
  border-top: 2px solid #2eb4c9;
  border-radius: 3px;
}
.dropdown-content a {
  margin: auto;
  padding: 6px 20px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: #000;
}
.drop-a:hover {
  margin-left: 10px;
}
.dropdown-hover:hover .dropdown-content {
  display: block;
}
.drop-a:hover span::before {
  content: '•';
  font-weight: bold;
  border-radius: 50%;
  color: #38b5c8;
  margin-right: 10px;
}

/* HEADER */
.header {
  width: 100%;
  height: 100%;
  background: url(../images/bg2.png) no-repeat center center;
  background-size: cover;
  background-position: bottom;
}
.header-content-holder {
  position: relative;
  height: 100%;
}
.header .header-content {
  position: absolute;
  left: 0;
  top: calc(50% - 143px);
  width: 100%;
  text-align: center;
  z-index: 2;
}
.header .header-logo {
  width: 32%;
  height: 100%;
}
.header .header-first-title {
  margin-top: 35px;
  white-space: nowrap;
  font-size: 160%;
  line-height: 16px;
  font-weight: 600;
  color: rgba(256, 256, 256, 0.8);
  letter-spacing: 0px;
}
.header .header-second-title {
  margin-top: 30px;
  white-space: nowrap;
  font-size: 95%;
  line-height: 16px;
  font-weight: 400;
  color: rgb(256, 256, 256);
  letter-spacing: 0px;
}
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}
.clouds img {
  position: absolute;
  bottom: -100px;
  max-width: 100%;
  transform: translateX(0%);
  animation: move-cloud calc(10s * var(--i)) linear infinite;
  opacity: .8;
}
@keyframes move-cloud 
{
  0%
  {
    transform: translateX(-110%);
  }
  100%
  {
    transform: translateX(110%);
  }
}
.header .header-cnaves {
  position:absolute;
  opacity: 0.04;
  width: 100%;
  z-index: 3;
}



/* ABOUT */
.about {
  width: 100%;
  padding-top: 136px;
  padding-bottom: 150px;
  margin-bottom: 145px;
}
.about .about-message {
  width: 100%;
}
.about .about-message h1 {
  font-size: 65px;
  color: #3a3a3a;
  letter-spacing: 0;
  margin: 0;
  font-weight: 600;
}
.about .empty-div {
  height: 200px;
}
.about .about-cards {
  position: relative;
}
.about .about-cards .card-content {
  padding: 30px 18px;
}
.about .about-cards .card-content .card-icon {
  font-size: 100px;
  color: #38b5c8;
  height: 101px;
}
.about .about-cards .card-content .card-icon i {
  position: relative;
  top: -23px;
}
.about .about-cards .card-content .card-title {
  color: #38b5c8;
  padding-top: 14px;
  margin: 0;
}
.about .about-cards .card-content .card-title {
  font-size: 20px;
  font-weight: 600;
}
.about .about-cards .card-content .card-title span {
  letter-spacing: 0px;
}
.about .about-cards .card-content .card-parga p {
  margin: 8px 0px 0px 0px;
  font-size: 14px;
  letter-spacing: 0;
}
.about .background-about-holder
{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.about .background-about-holder-text-warpper
{
  position: relative;
  top: -74px;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.about .background-about-holder-text
{
  color: rgb(244, 244, 244);
  text-align: center;
  vertical-align: bottom;
  font-size: 260px;
}
.background-about-holder-main-text {
  letter-spacing: 0px;   
  font-weight: 700;
  line-height: 1;
}



/* SERVICES */
.services {
  padding: 67px 0 15px;  
  position: relative;
  background-color: rgba(248, 248, 248, .5);
}
.services .services-text {
  padding-top: 73px;
}
.services .services-text .services-text-title h2 {
  margin: 0;
  font-size: 45px;
  color: #3a3a3a;
  font-weight: 600;
}
.services .services-text .services-text-paragraph h5 {
  line-height: 26px;
  font-weight: 400;
  margin: 28px 0 0 0;
  letter-spacing: 0px;
  color: #3a3a3a;
}
.services .services-text .empty-div-2 {
  height: 27px;
}
.services .services-text .services-text-types p {
  margin: 10px 0;
  padding-left: 15px;
  font-size: 14px;
  color: #3a3a3a;
  letter-spacing: 0px;
}
.services-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #888;
  background-color: rgb(248, 248, 248);
  z-index: -1;
}
.links {
  --link-size: calc(var(--base-grid)*20);
  color: var(--colour-black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 55px;
}

.links__list {
  position: relative;
  list-style: none;
}

.links__item {
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(var(--link-size)/-2);
  margin-left: calc(var(--link-size)/-2);
  --angle: calc(360deg/var(--item-total));
  --rotation: calc(140deg + var(--angle)*var(--item-count));
  transform: rotate(var(--rotation)) translate(calc(var(--link-size) + var(--base-grid)*15)) rotate(calc(var(--rotation)*-1));
}

.links__link {
  cursor: pointer;
  opacity: 0;
  animation: on-load .3s ease-in-out forwards;
  animation-delay: calc(var(--item-count)*150ms);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
  border-radius: 50%;
  position: relative;
  background-color: var(--colour-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.links__icon {
  transition: all .3s ease-in-out;
  color: #3a3a3a;
  font-size: 30px;
}

.links__text {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: calc(var(--base-grid)*2);
  font-size: calc(var(--base-grid)*2);
  display: none;
  bottom: calc(var(--base-grid)*8.5);
  animation: text .3s ease-in-out forwards;
}

.links__link:after {
  content: "";
  background-color: transparent;
  width: var(--link-size);
  height: var(--link-size);
  border: 2px dashed #000;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s cubic-bezier(.53,-.67,.73,.74);
  transform: none;
  opacity: 0;
}
.services-icons-text {
  width: 200%;
  display: none;
}
.services-icons-text-1 {
  position: absolute;
  top: -6px;
  left: 155px;
}
.services-icons-text-2 {
  position: absolute;
  top: 137px;
  left: 82px;
}
.services-icons-text-3 {
  position: absolute;
  top: 185px;
  left: -70px;
}
.services-icons-text-4 {
  position: absolute;
  top: 111px;
  left: -214px;
}
.services-icons-text-5 {
  position: absolute;
  top: -42px;
  left: -263px;
}
.services-icons-text-6 {
  position: absolute;
  top: -185px;
  left: -190px;
}
.services-icons-text-7 {
  position: absolute;
  top: -233px;
  left: -36px;
}
.services-icons-text-8 {
  position: absolute;
  top: -159px;
  left: 106px;
}
.services-icons-text-title {
  margin: 0 0 10px 0;
  color: #38b5c8;
  font-size: 14px;
}
.services-icons-text h4 {
  color: #3a3a3a;
  margin: 0;
}
.services-icons-text-paragraph {
  margin: 20px 0 0 0;
  color: #888;
  font-size: 14px;
}

.links__link:hover .links__icon {
  transition: all .3s ease-in-out;
  transform: translateY(calc(var(--base-grid)*-1));
}
.links__link:hover {
  background-color: #38b5c8;
}

.links__link:hover:after {
  transition: all .3s cubic-bezier(.37,.74,.15,1.65);
  transform: scale(1.1);
  opacity: 1;
}

@keyframes on-load {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  70% {
    opacity: .7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(calc(var(--base-grid)*5));
  }
}


/* OVERRIDE */
.hide-it {
  display: none!important;
}
.show-it {
  display: block!important;
}
.links-icon-add-hover {
  transition: all .3s ease-in-out;
  transform: translateY(calc(var(--base-grid)*-1));
}
.links-link-add-hover {
  background-color: #38b5c8;
}
.links-link-add-hover-after:after {
  transition: all .3s cubic-bezier(.37,.74,.15,1.65);
  transform: scale(1.1);
  opacity: 1;
}